/node_modules
/public/css
/public/hot
/public/img
/public/js
/public/mix-manifest.json
/public/storage
/public/vendor/telescope
/storage/*.key
/vendor
.env
.env.backup
.phpstorm.meta.php
.phpunit.result.cache
_ide_helper.php
_ide_helper_models.php
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
