@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

::selection {
    @apply bg-indigo-500 text-white;
}

body {
    @apply bg-gray-100;

    background-size: 1000px 1000px;
    background-repeat: repeat;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 500 500'%3E%3Cstyle%3E.st1%7Bfill:%23eeeff1%7D%3C/style%3E%3Cg%3E%3Ccircle class='st1' cx='417.4' cy='83.7' r='82.8'/%3E%3Cpath class='st1' d='M78.1 82.7C78.1 38.2 43.1 2-.8 0v165.3c43.9-2 78.9-38.2 78.9-82.6zm9.8 0c0 44.4 35 80.7 78.9 82.7V0c-43.9 2-78.9 38.2-78.9 82.7zm79.3 84.6v165.3c43.9-2 78.9-38.2 78.9-82.7s-34.9-80.6-78.9-82.6zm165.6 165.4V167.3c-43.9 2-78.9 38.2-78.9 82.7s34.9 80.7 78.9 82.7zm84.5-79c-44.4 0-80.7 35-82.7 78.9H500c-2-43.9-38.2-78.9-82.7-78.9zm0-7.2c44.4 0 80.7-35 82.7-78.9H334.7c2 43.9 38.2 78.9 82.6 78.9zM84 421.1c-44.4 0-80.7 35-82.7 78.9h165.3c-2-43.9-38.2-78.9-82.6-78.9zm0-7.7c44.4 0 80.7-35 82.7-78.9H1.3c2 43.9 38.2 78.9 82.7 78.9zM250.1 78.9c44.4 0 80.7-35 82.7-78.9H167.4c2 43.9 38.3 78.9 82.7 78.9zm0 8.6c-44.4 0-80.7 35-82.7 78.9h165.3c-1.9-43.9-38.2-78.9-82.6-78.9z'/%3E%3Ccircle class='st1' cx='84.1' cy='250.1' r='82.8'/%3E%3Cpath class='st1' d='M167.2 334.5v165.3c43.9-2 78.9-38.2 78.9-82.7s-34.9-80.6-78.9-82.6zm254.7 82.7c0 44.4 35 80.7 78.9 82.7V334.6c-43.9 1.9-78.9 38.2-78.9 82.6z'/%3E%3Ccircle class='st1' cx='333.2' cy='417.3' r='82.8'/%3E%3C/g%3E%3C/svg%3E");
}
