.alert {
    @apply z-50 px-6 py-4 fixed flex items-center justify-between rounded invisible opacity-0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: scale(0.8);
    transition: all 0.25s ease-in-out;

    /* purgecss start ignore */
    &.alert-danger {
        @apply text-red-100 bg-red-600;
    }

    &.alert-success {
        @apply text-green-100 bg-green-600;
    }

    &.alert-warning {
        @apply text-yellow-100 bg-yellow-600;
    }
    /* purgecss end ignore */

    &:hover {
        @apply opacity-75 !important;
    }

    &.alert.open {
        @apply visible opacity-100;
        transform: scale(1.0);
    }
}

@screen md {
    .alert {
        @apply max-w-md rounded shadow-xl;
        bottom: 5rem;
        left: auto;
        right: 5rem;
    }
}
