.alert {
    @apply z-50 px-6 py-4 fixed flex items-center justify-between rounded invisible opacity-0 transform scale-75 transition-all ease-in-out duration-300;
    bottom: 0;
    left: 0;
    right: 0;

    /* purgecss start ignore */
    &.alert-danger {
        @apply text-red-100 bg-red-600;
    }

    &.alert-success {
        @apply text-green-100 bg-green-600;
    }

    &.alert-warning {
        @apply text-yellow-100 bg-yellow-600;
    }
    /* purgecss end ignore */

    &:hover {
        @apply opacity-75 !important;
    }

    &.alert.open {
        @apply visible opacity-100 scale-100;
    }
}

@screen md {
    .alert {
        @apply max-w-md rounded shadow-xl;
        bottom: 5rem;
        left: auto;
        right: 5rem;
    }
}
