.btn {
    @apply px-3 py-3 rounded-sm appearance-none border-0 font-semibold bg-blue-600 text-white border border-blue-600 shadow-glare;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    &:hover {
        @apply bg-blue-500;
    }

    &:focus {
        @apply outline-none;
        box-shadow: theme(boxShadow.glare), theme(boxShadow.outline);
    }

    &:active {
        @apply bg-blue-700 border-blue-700;
        box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.15);
    }
}

.btn-sm {
    @apply py-2 text-sm;
}

.btn-lg {
    @apply py-5 text-lg;
}
