.btn {
    @apply px-6 py-4 font-semibold leading-none text-white bg-blue-600 border border-blue-600 rounded-sm appearance-none shadow-glare;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    &:focus {
        @apply outline-none;
        box-shadow: theme(boxShadow.glare), theme(boxShadow.outline);
    }

    &:active {
        @apply bg-blue-700 border-blue-700;
        box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.15);
    }
}

.btn-danger {
    @apply bg-red-600 border border-red-600;

    &:active {
        @apply bg-red-700 border-red-700;
    }
}

.btn-xs {
    @apply px-2 py-1 text-xs;
}

.btn-sm {
    @apply px-4 py-2 text-sm;
}

.btn-lg {
    @apply py-5 text-lg;
}

.btn-block {
    @apply w-full;
}

.btn-link {
    @apply px-6 py-3 text-center text-sm text-gray-600;
    transition: color 0.15s ease-in-out;

    &:focus {
        @apply text-gray-500;
    }
}
