.btn {
    @apply px-6 py-4 font-semibold leading-none text-white bg-blue-600 border border-blue-600 rounded-sm appearance-none shadow-glare transition duration-200 ease-in-out;

    &:focus {
        @apply outline-none;
        box-shadow: theme(boxShadow.glare), theme(boxShadow.outline);
    }

    &:active {
        @apply bg-blue-700 border-blue-700;
        box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.15);
    }

    &:disabled {
        @apply opacity-75 cursor-not-allowed transition-opacity ease-linear duration-200;
    }
}

.btn-danger {
    @apply bg-red-600 border border-red-600;

    &:active {
        @apply bg-red-700 border-red-700;
    }
}

.btn-xs {
    @apply px-2 py-1 text-xs;
}

.btn-sm {
    @apply px-4 py-2 text-sm;
}

.btn-lg {
    @apply py-5 text-lg;
}

.btn-block {
    @apply w-full;
}

.btn-link {
    @apply px-6 py-3 text-center text-sm text-gray-600 transition-colors duration-200 ease-in-out;

    &:focus {
        @apply text-gray-500;
    }
}

.btn-loading {
    @apply relative text-transparent;

    &::after {
        content: '';
        @apply absolute w-8 h-full bg-no-repeat bg-center transform -translate-x-1/2  -translate-y-1/2;
        top: 50%;
        left: 50%;
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 120 30' xmlns='http://www.w3.org/2000/svg' fill='%23fff'%3E%3Ccircle cx='15' cy='15' r='15'%3E%3Canimate attributeName='r' from='15' to='15' begin='0s' dur='0.8s' values='15;9;15' calcMode='linear' repeatCount='indefinite'/%3E%3Canimate attributeName='fill-opacity' from='1' to='1' begin='0s' dur='0.8s' values='1;.5;1' calcMode='linear' repeatCount='indefinite'/%3E%3C/circle%3E%3Ccircle cx='60' cy='15' r='9' fill-opacity='.3'%3E%3Canimate attributeName='r' from='9' to='9' begin='0s' dur='0.8s' values='9;15;9' calcMode='linear' repeatCount='indefinite'/%3E%3Canimate attributeName='fill-opacity' from='.5' to='.5' begin='0s' dur='0.8s' values='.5;1;.5' calcMode='linear' repeatCount='indefinite'/%3E%3C/circle%3E%3Ccircle cx='105' cy='15' r='15'%3E%3Canimate attributeName='r' from='15' to='15' begin='0s' dur='0.8s' values='15;9;15' calcMode='linear' repeatCount='indefinite'/%3E%3Canimate attributeName='fill-opacity' from='1' to='1' begin='0s' dur='0.8s' values='1;.5;1' calcMode='linear' repeatCount='indefinite'/%3E%3C/circle%3E%3C/svg%3E");
    }
}
