::selection {
    @apply text-white bg-gray-800;
    text-shadow: none;
}

h1 {
    @apply my-2 font-semibold text-2xl uppercase cursor-default;
}

.text-muted {
    @apply text-gray-600;
}

/* Description Lists... */

dl {
    @apply flex flex-col cursor-default;

    dt {
        @apply font-bold;
        flex-basis: 30%;
    }

    dd {
        @apply flex-grow pb-1;
        flex-basis: 70%;
    }
}

@screen md {
    dl {
        @apply flex-row flex-wrap;
    }
}

/* Links */

.card p a {
    @apply text-blue-500 underline;

    &:hover {
        @apply text-blue-600
    }

    &:active {
        @apply text-blue-700
    }
}
